<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imap.dao.AlarmMapper">

    <resultMap id="alarmResultMap" type="com.imap.common.vo.AlarmVO">
        <result column="site_name" property="site"></result>
        <result column="type" property="type"></result>
        <result column="info" property="info"></result>
        <result column="create_time" property="time"></result>
    </resultMap>


    <update id="setStatus">
        update dev_alarm set status = 1
        where alarm_id in
        <foreach collection="collection" item="alarmId" open="(" separator="," close=")">
            #{alarmId}
        </foreach>
    </update>

    <select id="getAlarmList" resultMap="alarmResultMap">
        select site_name,
               type,
               info,
               dev_alarm.create_time as create_time
        from dev_alarm join dev_site ds on dev_alarm.site_id = ds.site_id
        where dev_alarm.site_id = #{siteId}
        order by dev_alarm.create_time desc
        limit 20;
    </select>

    <select id="getAlarmTop" resultType="com.imap.common.vo.DataItemVO">
        select a.site_name as time,
               t.value,
               '告警数' as name
        from dev_site a right join (
            select b.site_id,
                   count(b.site_id) as value
           from dev_alarm b
           group by b.site_id
        ) t on a.site_id = t.site_id
        order by t.value desc
        limit #{n}
    </select>

    <select id="getAlarmTypes" resultType="com.imap.common.vo.AlarmTypeVO">
        select type as name,
               count(*) as value
        from dev_alarm
        group by type
    </select>

    <select id="getAlarmsPerMonth" resultType="com.imap.common.vo.DataItemVO">
        select date_format(create_time,'%Y-%m') as time,
               count(*) as value,
               '告警数' as name
        from dev_alarm
        group by date_format(create_time,'%Y-%m')
        having #{time} >= time
        order by time
        limit #{n}
    </select>

    <select id="getAllAlarmsWithSite" resultType="com.imap.common.vo.DataItemVO">
        select b.site_name as time,
               t.value,
               t.name
        from ((select a.site_id,
                     count(*) as value,
                     '异常' as name
              from dev_alarm a
              group by a.site_id)
              union
              (select b.site_id,
                      sum(if(b.status=1,1,0)) as value,
                      '已解决' as name
               from dev_alarm b
               group by b.site_id
               )
        ) t left join dev_site b on t.site_id =b.site_id
        order by time,value
        limit #{n}
    </select>

    <select id="getAllAlarms" resultType="com.imap.common.util.PageData">
        select
            b.site_name as site,
            a.type as type,
            a.create_time as time
        from dev_alarm a left join dev_site b on a.site_id = b.site_id
        order by time,site
    </select>

    <select id="getListSize" resultType="java.lang.Integer">
        select
            count(*)
        from dev_alarm
    </select>

    <select id="getAlarms" resultType="com.imap.common.vo.AlarmVO">
        select
            b.site_name as site,
            a.type as type,
            a.create_time as time
        from dev_alarm a left join dev_site b on a.site_id = b.site_id
        order by time,site
        limit #{n}
    </select>

    <select id="getAlarmById" resultType="com.imap.common.vo.AlarmTableVO">
        select alarm_id alarmId,
               site_name siteName,
               name,
               email,
               type,
               status,
               info,
               a.create_time as time
        from (dev_alarm a left join dev_site b on a.site_id = b.site_id) join sys_user c on b.create_user = c.user_id
        where alarm_id = #{alarmId}
    </select>

    <select id="findListPage" parameterType="com.imap.common.util.Page" resultType="com.imap.common.util.PageData">
        select
            alarm_id,
            site_name,
            type,
            status,
            a.create_time as create_time
        from dev_alarm a left join dev_site b on a.site_id = b.site_id
        where b.is_delete = 0
        limit #{showCount} offset #{offset}
    </select>

    <insert id="addAlarm" parameterType="com.imap.common.po.AlarmPO">
        insert into dev_alarm(alarm_id, site_id, type, info, status, create_time)
        values (null,#{siteId},#{type},#{info},#{status},#{createTime})
    </insert>


</mapper>