<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imap.dao.DataMapper">

    <select id="getHmt" resultType="com.imap.common.vo.TmpOrHmtVO">
        select end_time as date,
               avg_hmt * 100 as value,
               '湿度' as name
        from dev_avg_data
        where type = 2 and site_id = #{siteId} and #{time} = date(end_time)
        order by end_time
    </select>

    <select id="getTmp" resultType="com.imap.common.vo.TmpOrHmtVO">
        select end_time as date,
               avg_tmp as value,
               '温度' as name
        from dev_avg_data
        where type = 2 and site_id = #{siteId} and #{time} = date(end_time)
        order by end_time
    </select>

    <select id="getLx" resultType="com.imap.common.vo.TmpOrHmtVO">
        select end_time as date,
               avg_lx as value,
               '亮度' as name
        from dev_avg_data
        where type = 2 and site_id = #{siteId} and #{time} = date(end_time)
        order by end_time
    </select>

    <select id="getHistoryData" parameterType="com.imap.common.util.PageData" resultType="com.imap.common.po.BaseDataPO">
        select end_time time
        <if test="tmp != null">,avg_tmp value</if>
        <if test="hmt != null">,avg_hmt value</if>
        <if test="lx != null">,avg_lx value</if>
        from dev_avg_data
        where site_id = #{siteId} and type = #{timeType} and end_time between #{start} and #{end}
        order by end_time
    </select>


</mapper>