<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imap.dao.RoleMapper">

    <resultMap id="roleResultMap" type="com.imap.common.pojo.Role">
        <result column="role_id" property="roleId"></result>
        <result column="role_name" property="roleName"></result>
        <result column="role_config" property="roleConfig"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
        <result column="create_user" property="createUser"></result>
        <result column="is_delete" property="isDelete"></result>
    </resultMap>

    <insert id="save" parameterType="com.imap.common.util.PageData">
        insert into sys_role (role_id,role_name,role_config,create_time,create_user,update_time,is_delete)
        values
            (null,
             #{role_name,jdbcType=VARCHAR},
             #{role_config,jdbcType=VARCHAR},
             #{create_time,jdbcType=TIMESTAMP},
             #{create_user,jdbcType=INTEGER},
             #{update_time,jdbcType=TIMESTAMP},
             0
             )
    </insert>

    <update id="update" parameterType="com.imap.common.util.PageData">
        update sys_role set
        <if test="role_name != null">role_name=#{role_name},</if>
        <if test="role_config != null">role_config=#{role_config},</if>
        update_time=#{update_time}
        where role_id=#{role_id}
    </update>

    <!--    删除-->
    <update id="delete" parameterType="com.imap.common.util.PageData">
        update sys_role set
        is_delete = 1
        where role_id in
        <foreach collection="role_ids" item="role_id" open="(" separator="," close=")">
            #{role_id}
        </foreach>
    </update>

    <select id="getRoleIdByUserId" resultType="java.lang.Integer">
        select role_id from sys_user_role
        where user_id = #{userId}
    </select>

    <select id="findListPage" resultType="com.imap.common.util.PageData">
        select *  from sys_role
        where is_delete = 0
        <if test="pd.filter_role_name != null">and role_name like concat('%', #{pd.filter_role_name}, '%')</if>
        limit #{showCount} offset #{offset}
    </select>

    <select id="getAllList" resultType="com.imap.common.util.PageData">
        select *  from sys_role
        where is_delete = 0
    </select>

    <select id="getRoleById" resultMap="roleResultMap">
        select * from sys_role where role_id = #{roleId}
    </select>

    <select id="findListSize" parameterType="com.imap.common.util.PageData" resultType="java.lang.Integer">
        select count(*) from sys_role
        where is_delete = 0
    </select>

</mapper>