<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imap.dao.SiteMapper">

    <insert id="save" parameterType="com.imap.common.util.PageData">
        <selectKey keyProperty="siteId" order="AFTER" resultType="int">
            select last_insert_id()
        </selectKey>
        insert into dev_site(site_id, site_name,
                             lat, lon, url,
                             update_time, create_time,
                             create_user, is_delete)
        values (null,
                #{site_name,jdbcType=VARCHAR},
                #{lat,jdbcType=FLOAT},
                #{lon,jdbcType=FLOAT},
                #{url,jdbcType=VARCHAR},
                #{update_time,jdbcType=TIMESTAMP},
                #{create_time,jdbcType=TIMESTAMP},
                #{create_user,jdbcType=INTEGER},
                0)
    </insert>

    <update id="update" parameterType="com.imap.common.util.PageData">
        update dev_site set
        <if test="site_name != null">site_name=#{site_name},</if>
        <if test="lon != null">lon=#{lon},</if>
        <if test="lat != null">lat=#{lat},</if>
        <if test="url != null">url=#{url},</if>
        <if test="create_user != null">create_user=#{create_user},</if>
        <if test="is_delete != null">is_delete=#{is_delete},</if>
        update_time=#{update_time}
        where site_id=#{site_id}
    </update>

    <update id="delete" parameterType="com.imap.common.util.PageData">
        update dev_site set is_delete = 1
        where site_id in
        <foreach collection="site_ids" item="site_id" open="(" separator="," close=")">
            #{site_id}
        </foreach>
    </update>

    <insert id="addConfig" parameterType="com.imap.common.util.PageData">
        insert into dev_monitor_config(config_id, site_id,
                                       timestamp, version,`interval`,
                                       is_delete,monitor_items)
        values (null,
                #{siteId,jdbcType=INTEGER},
                #{create_time,jdbcType=TIMESTAMP},
                1,
                #{interval,jdbcType=INTEGER},
                0,
                #{monitorItems,jdbcType=VARCHAR}
               )
    </insert>

    <update id="deleteConfig" parameterType="com.imap.common.util.PageData">
        update dev_monitor_config set is_delete = 1
        where site_id in
        <foreach collection="site_ids" item="site_id" open="(" separator="," close=")">
            #{site_id}
        </foreach>
    </update>

    <update id="updateConfig">
        update dev_monitor_config set
        <if test="version != null">version=#{version},</if>
        <if test="interval != null">`interval`=#{interval},</if>
        <if test="monitorItems != null">monitor_items=#{monitorItems},</if>
        <if test="is_delete != null">is_delete=#{is_delete},</if>
        `timestamp`=#{update_time}
        where site_id=#{site_id}
    </update>


    <select id="findListPage" parameterType="com.imap.common.util.Page"  resultType="com.imap.common.util.PageData">
        select * from dev_site
        where is_delete = 0
        limit #{showCount} offset #{offset}
    </select>

    <select id="getListSize" resultType="java.lang.Integer">
        select count(*) from dev_site where is_delete = 0
    </select>

    <select id="getAllList" resultType="com.imap.common.util.PageData">
        select site_id,
               site_name,
               lon,
               lat,
               url,
               create_user
        from dev_site
        where is_delete = 0
    </select>

    <select id="getSiteById" resultType="com.imap.common.pojo.Site">
        select site_id siteId,
               site_name siteName,
               lat,
               lon,
               url,
               UNIX_TIMESTAMP(update_time) updateTime,
               UNIX_TIMESTAMP(create_time) createTime,
               create_user createUser
       from dev_site
        where is_delete = 0 and site_id = #{siteId}
    </select>

    <select id="getCurSiteData" resultType="com.imap.common.pojo.DataReport">
        select site_id siteId,
               UNIX_TIMESTAMP(`timestamp`) as `timestamp` ,
               type,
               version,
               `status`,
               `data` as dataStr
        from dev_data_report
        where site_id = #{siteId}
        order by `timestamp` desc
        limit 1
    </select>

    <update id="setCurSiteData" parameterType="com.imap.common.pojo.DataReport" >
        update dev_data_report
        set `timestamp` = #{date},
            `version` = #{version},
            `status`=#{status},
            `data` = #{dataStr}
        where site_id = #{siteId} and type = 'report'
    </update>

    <select id="getSiteConfigById" resultType="com.imap.common.util.PageData">
        select `interval`,
               version,
               `monitor_items`
        from dev_monitor_config
        where site_id = #{siteId} and is_delete = 0
    </select>

</mapper>